 body{
    background-image: url(https://media.gettyimages.com/id/672323482/es/vector/paisaje-por-la-ma%C3%B1ana.jpg?s=2048x2048&w=gi&k=20&c=C28XT_NqN7zYG68C4_BXY9m0cEbUtJScN7IKjeJaCMs=);
    background-repeat: no-repeat;
    background-size: cover;
} 

.darkMode{
    background-image: url(https://media.gettyimages.com/id/672324040/es/vector/paisaje-nocturno.jpg?s=2048x2048&w=gi&k=20&c=2LacexplpDJqlm14HZLpno56m-tk8leKRXxN2NsBfAA=)
}

#color-mode{
    font-size: 20px;
    font-weight: bold;
    border-block-color: black;
    margin: auto;
    color: white;
    background: black;
}

h1{
    text-align: center;
    font-family: system-ui;
    font-size: 54px;
    padding: 62px;
    color: rgb(7, 7, 7);
}

.container{
    display: flex;
    flex-direction: column;
}

label{
    font-family: system-ui;
    font-size: 23px;
    font-weight: bold;
}

.form{
    display: flex;
    text-align: center;
    padding: 33px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

input{
    width: 38%;
    font-size: 35px;
    border-radius: 13pc;
    text-align: center;
    border: 4px inset seagreen;
}
.boton{
    width: 229px;
    margin: auto;
    display: flex;
    font-size: 33px;
    border-radius: 13px;
    padding: 13px;
    justify-content: center;
    font-family: system-ui;
    font-weight: bold;
    margin-top: 32px;
    border: 4px inset seagreen;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
